#ilk{
    border: black solid;
    margin: 60px;
}
#ikinci{
    border: red solid;
    margin-top: 60px;
}
#ucuncu{
    border: black solid;
    margin-left: 150px;
    margin-top: 20px;
}
#dorduncu{
    border: black solid;
    margin-right: 150px;
    margin-top: 20px;
}