#ilk{
    background-color: blue;
    border: mediumpurple 8px solid;
    width: 900px;
    height: 300px;
  }
  #ikinci{
    background-color: orangered;
    border: black 8px solid;
    width: 600px;
    height: 140px;
    margin-left: 120px;
    margin-top: 60px;
    font-size: 30px;
  }
  #metn{
    font-size: 60px;
  }
  #ucuncu{
    margin-top: 60px;
      background-color: blue;
    border: mediumpurple 8px solid;
    width: 900px;
    height: 200px
  }
  #dorduncu{
    background-color: orangered;
    border: black 8px solid;
    width: 600px;
    height: 50px;
    margin-left: 120px;
    margin-top: 90px;
    font-size: 30px;
  }